<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <nav>
    {% include 'layout/header.html' %}
  </nav>
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/static/assets/images/wisuda 1.jpg"
                alt="Wisuda UKRIM"
                style="width: 100%;"
              />
              <div class="carousel-caption">
                <h3>Selamat Datang di Sistem Informasi Alumni</h3>
                <h3>Universitas Kristen Immanuel Yogyakarta</h3>
              </div>
            </div>
          </div>
        </div>
    {% include 'layout/footer.html' %}
</body>
</html>