<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/assets/css/donasi.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  </head>
  <body>
    {% include 'layout/header.html' %}
    <main>
      <h1 class="">Donasi</h1>
      <p class="text">
        Bagi anda yang ingin berdonasi bisa mentransfer melalui rekening bank
        dibawah ini
      </p>
      <div class="card-deck margincard">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/static/assets/images/bri.jpg" alt="BRI" class="cardimage" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h1 class="card-title">7631761778318</h1>
                <p class="card-text">a/n Ikatan Alumni UKRIM</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img
                src="/static/assets/images/mandiri.jpg"
                alt="Mandiri"
                class="cardimage"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h1 class="card-title">7631761778318</h1>
                <p class="card-text">a/n Ikatan Alumni UKRIM</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-deck margincard">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/static/assets/images/bni.png" alt="BNI" class="cardimage" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h1 class="card-title">7631761778318</h1>
                <p class="card-text">a/n Ikatan Alumni UKRIM</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/static/assets/images/bca.png" alt="BCA" class="cardimage" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h1 class="card-title">7631761778318</h1>
                <p class="card-text">a/n Ikatan Alumni UKRIM</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>{% include 'layout/footer.html' %}</footer>
  </body>
</html>
