<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/assets/css/stylelandingpage.css" />
    <title>Sistem Informasi Alumni UKRIM</title>
    <link rel="icon" type="image/png" href="/static/assets/images/ukrimlogo.png"/>
  </head>
  <body>
    {% include 'layout/header.html' %}
    <main>
      <div class="content" style="margin-left: 20px; margin-right: 50px;">
        <h1 style="margin-bottom: 30px;">Visi dan Misi</h1>
        <b>VISI</b>
        <p style="margin-top: 15px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <br>
        <p><b>Misi</b></p>
        <p>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
          2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
          3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
          4. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
          5. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </main>
    <footer style="margin-top : 30%;">{% include 'layout/footer.html' %}</footer>
    
  </body>
</html>
