{% extends 'layout/baseuser.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    <p class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}</p>
    {% endfor %}
    {% endif %}
    <div class="card">
        <div class="card-body">
            <form action="{% url 'postajukandata' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="font-weight-bold text-primary">Form Ajukan Data Alumni</h1> <br>
                <div class="form-group">
                    <p class="">NIM</p>
                    <input class="form-control" type="text" name="nim" maxlength="20" required>
                </div>
                <div class="form-group">
                    <p>Nama</p>
                    <input class="form-control" type="text" name="nama" maxlength="255" value="{{ user.first_name }}" required>
                </div>
                <div class="form-group">
                    <p>Alamat</p>
                    <input class="form-control" type="text" name="alamat" maxlength="255" required>
                </div>
                <div class="form-group">
                    <p>Email</p>
                    <input class="form-control" type="text" name="email" maxlength="255" value="{{ user.email }}" required>
                </div>
                <div class="form-group">
                    <p>No Hp</p>
                    <input class="form-control" type="text" name="nohp" required>
                </div>
                <div class="form-group">
                    <p>Tahun Lulus</p>
                    <input class="form-control" type="number" name="thnlulus" required>
                </div>
                <div class="form-group">
                    <p>Prodi</p>
                    <input class="form-control" type="text" name="prodi" maxlength="255" required>
                </div>
                <div class="form-group">
                    <p>Instansi</p>
                    <input class="form-control" type="text" name="instansi" maxlength="255" required>
                </div>
                <div class="form-group">
                    <p>Jabatan</p>
                    <input class="form-control" type="text" name="jabatan" maxlength="255" required>
                </div>
                <div class="form-group">
                    <p>Tautan akun Linkedin</p>
                    <input class="form-control" type="text" name="linkedin" maxlength="255" placeholder="https://www.linkedin.com/.....">
                </div>
                <div class="form-group">
                    <p>Grup Whatsapp yang di ikuti</p>
                    <input class="form-control" type="text" name="grup" maxlength="255">
                </div>
                <div class="form-group">
                    <p>Gambar</p>
                    <input style="width: fit-content;" type="file" alt="" name="gambar" required>
                </div>
                <button class="btn btn-success" type="submit">SUBMIT</button>
                <a class="btn btn-warning " href="{% url 'dataalumni' %}">KEMBALI</a>
            </form>
        </div>
    </div>
</body>
</html>

{% endblock %}